/.classpath
/.primary_build_tool
/.project
/.settings/org.maven.ide.eclipse.prefs
/.settings/org.eclipse.m2e.core.prefs
/bazel-bin
/bazel-genfiles
/bazel-gerrit-oauth-provider
/bazel-out
/bazel-testlogs
